<h1>Kittens</h1>

<ul>
	<%= @kittens.each do |kitten| %>
		<li>
			Name: <%= kitten.name %><br>
			Age: <%= kitten.age %><br>
			Cuteness: <%= kitten.cuteness %><br>
			Softness: <%= kitten.softness %><br>
			<%= link_to "Show kitten", kitten_path(kitten) %><br>
			<%= link_to "Edit kitten", edit_kitten_path(kitten) %><br>
			<%= link_to "Delete kitten", kitten, method: :delete %>
		</li><br><span>-------------------------------------</span><br>
	<% end %>
</ul>