<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "New Kitten", new_kitten_path %></li>
	</ul>
  <body>
    <%= yield %>
  </body>
</html>
